<link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

<%- include('../partials/sidebar') %> <%- include('../partials/header') %>
<div class="main-content">
  <div class="page-content">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-2">Add Administrator 
              <h6>All the fields are required</h6>
            <form method="post" action="create-admin">
              <div class="mb-3 my-3">
                <label for="formrow-firstname-input" class="form-label "
                  >Full name</label
                >
                <input
                  type="text"
                  class="form-control inputValidator fullName"
                  id="formrow-firstname-input fullName"
                  name="fullName"
                />
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="formrow-email-input" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control inputValidator email"
                      id="formrow-email-input email "
                      
                      name="email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="formrow-password-input" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control inputValidator password"
                      id="formrow-password-input  password"
                      name="password"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="formrow-inputCity" class="form-label"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      class="form-control inputValidator phoneNumber"
                      id="formrow-inputCity phoneNumber phoneNumber"
                      placeholder="+233 596508407"  
                      name="phoneNumber"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="formrow-inputState" class="form-label"
                      >Role</label
                    >
                    <select id="formrow-inputState role" class="form-select inputValidator role" name="role">
                      <option selected>Choose...</option>
                      <option>Chief Operating Officer</option>
                      <option>Human resource manager</option>
                      <option>Marketing Administrator</option>
                      <option>Financial Administrator</option>
                      <option>Content Administrator</option>
                      <option></option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="formrow-inputZip" class="form-label">Zip</label>
                    <input
                      type="text"
                      class="form-control"
                      id="formrow-inputZip"
                    />
                  </div>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-primary w-md" id="btn-Save">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
      <div class="col-xl-6">
        
        <%- include('../partials/uploadImage') %>
        <!-- end col -->
      </div>
      <%- include('../partials/viewAdmins') %>
    </div>
  </div>

  <%- include('../partials/footer') %>

</div>

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/dropzone/min/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/js/create_admin.js"></script>
<%-contentFor ('title') %>
Authenication